.card {
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 282px;
  max-height: 361px;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  max-width: 282px;
  max-height: 282px;
  align-self: flex-start;
}

.card__title {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 25px;
  margin-right: 20px;
  align-items: center;
}

.card__place {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: black;
  text-overflow: ellipsis;
  white-space: no-wrap;
  overflow: hidden;
}

.card__heart {
  width: 21px;
  height: 18px;
}
