.card {
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  max-width: 282px;
  max-height: 282px;
  align-self: flex-start;
}

.card__title {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
}

.card__place {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0 0 0;
}

.card__heart {
  width: 24px;
  height: 18px;
  background-image: url("../images/Vector.svg");
  background-color: transparent;
  background-size: 21px 18px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.card__heart:hover {
  opacity: 50%;
}
