.footer {
  margin-bottom: 7%;
  margin-top: 7%;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  align-self: baseline;
}

@media screen and (max-width: 580px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 36px;
    margin-top: 48px;
    margin-left: 19px;
  }
}
