.footer {
  margin-bottom: 7%;
  margin-top: 7%;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #545454;
  align-self: baseline;
}

@media screen and (max-width: 580px) {
  .footer__copyright {
    font-size: 14px;
    margin-bottom: 12%;
    margin-top: 17%;
  }
}
