.gallery {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 20px 17px;
}

@media screen and (max-width: 580px) {
  .gallery {
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 100%);
  }
}

@media screen and (min-width: 580px) and (max-width: 1000px) {
  .gallery {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
  }
}
