.line {
  border: 1px solid #545454;
  border-bottom: 1px solid #545454;
  display: block;
  margin: auto;
  width: 880px;
  height: 1px;

  /* box-sizing: border-box; */
  border: 1px solid #545454;
  padding-bottom: 0.045%;

  /* left: 200px;
  top: 119px;

  padding-top: 200px;
  padding-bottom: 200px; */
}
