.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    max-width: 880px;
    /* min-width: 1280px; */
    /* height: 1217px; */
    background: #000000;
    justify-content: space-between;
    /* max-width: 1280px; */
}
